@use "../abstracts/variables";

.header__menu {
  background: url(../img/header-footer/background.png), variables.$background-grey;

  .header__container {
    display: flex;
    justify-content: end;
  }
}

.menu {
  margin-left: 2%;
}

.list {
  display: flex;
  justify-content: end;
}

.list__points {
  font-family: variables.$header-font;
  color: variables.$dark-font;
}

.connection {
  margin-right: 3%;

  .connection__button {
    background-color: variables.$medium-font;
    border: none;
    color: white;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.5em;
    text-decoration: none;
    color: white;
  }

  .connection__button:hover {
    transform: variables.$button-transform;
  }

  .connection__button:active {
    background-color: variables.$medium-font;
  }
}

@media screen and (max-width: 991px) {
  .connection__button {
    display: none;
  }
}

@media screen and (min-width: 1700px) {
  .header__menu {
    padding-top: 1%;
    padding-bottom: 1%;
  }
  
  .list__points {
    font-size: 1.1vw;
  }

  .connection__button {
    font-size: 1.2vw;
  }
}


