$background-grey: rgb(230, 230, 230);

$black-font: rgb(0, 0, 0);
$dark-font: rgb(80, 80, 80);
$medium-font: rgb(181, 151, 136);
$white-font: rgb(255, 255, 255);
$violet-font: rgb(189, 181, 242);
$pink-font:rgb(242, 205, 211);
$shadow-font: rgb(139, 132, 132);

$primary-font: "Inter", sans-serif;
$header-font: "Montserrat", sans-serif;

// feedback text-size
$small-size: 1.5em;

$button-transform: scale(1.1);

$general-margin: 7%;

$primary-color: #B59788;
$secondary-color: #505050;
$background-color: #f2f2f2;
$background-image: "assets/img/bedge-grunge.png";


$font-family: "Montserrat", serif;
$font-weight: 600;
$font-size-large: 35px;
$font-size-medium: 20px;
$font-size-small: 13px;

$text-shadow: 6px 2px 8px rgb(255, 255, 255);
